{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About IT @ JCU</h2>
<p>This course brings together the knowledge and skills that are essential for professional IT careers along with subjects in interactive visualisation, games, big data and data mining, interactive 2D/3D graphics and web technologies, mobile technologies, programming and design thinking, and programming.</p>
<p><b>Bachelor of Information Technology graduates will be able to:</b><br></p>
<ul>Demonstrate essential knowledge for a career in technology related professions and practice;</ul>
<ul>Synthesise industry standard and underlying principles and concepts for decision making;</ul>
<ul>Critically evaluate data & resources in the context or relevant academic literature;</ul>
<ul>Apply critical thinking to address IT related issues;</ul>
<ul>Demonstrate the ability to work collaboratively</ul>
{% endblock %}
